:root {
  --color1: #434455;
  --color2: #2e2f42;
  --color3: #4d5ae5;
  --color4: #404bbf;
  --color5: #ffffff;
  --color6: #e7e9fc;
  --color7: #f4f4fd;
  --background-color-hero: #2e2f42;
  --background-color-buttton: #4d5ae5;
  --background-color-buttons: #f4f4fd;
  --transition-duration: 250ms;
  --transition-function: linear;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color1);
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navigation-header {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  margin-right: auto;
}
.list {
  list-style: none;
}
.logotip {
  color: var(--color3);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
span.studiolog {
  color: var(--color2);
}
.main {
  color: var(--color2);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.navigation-header.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.current {
  color: #404bbf;
}
.navigation-header.portfolio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.portfolio {
  color: #404bbf;
}
.main:active {
  color: var(--color4);
}
.main:focus {
  color: var(--color4);
}

.main:hover {
  color: var(--color4);
}
.contact {
  text-decoration: none;
  color: var(--color1);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.contact:hover {
  color: var(--color4);
  transition-property: var(--color4);
}
.contact:focus {
  color: var(--color4);
  transition-property: var(--color4);
}
.hero {
  background-color: var(--background-color-hero);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/office\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 56px;
  color: var(--color5);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
}
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.button {
  background-color: var(--color3);
  color: var(--color5);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: center;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
}

.button:hover {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:focus {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}
.section-text {
  padding-top: 120px;
  padding-bottom: 120px;
}
.iteam {
  flex-basis: calc(100% / 4);
}
.picture {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.our-action {
  padding-bottom: 120px;
}
.title-action {
  margin-bottom: 72px;
}
.our-team {
  padding-top: 72px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.second-picture {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
}
.teams {
  padding: top 16px;
  margin-bottom: 8px;
  text-align: center;
}
.teams-indent {
  text-align: center;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.subtitle {
  color: var(--color2);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}
.minor {
  color: var(--color2);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  margin-bottom: 8px;
}
.indent {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.herofooter {
  background-color: var(--color2);
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}
.subfooter {
  color: var(--color6);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.footerlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
span.logo {
  color: var(--color3);
}
span.type {
  color: var(--color7);
}
.navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--background-color-buttons);
  color: var(--color3);
  border: 1px solid var(--color6);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, border;
}
.navigation:hover {
  background-color: var(--color4);
  color: var(--color5);
}
.navigation:focus {
  background-color: var(--color4);
  color: var(--color5);
}
.navigation:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.navigation:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.links {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color1);
  line-height: 1.5;
}
.roster {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-images {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
}
.second-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cards-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
  padding-bottom: 165px;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
}
.cards-teams:hover .overlay {
  transform: translate(0, 0);
}
.cards-teams:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-teams:hover.overlay {
  transform: translateX(0);
}
.title-port {
  margin-bottom: 8px;
}
.img-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
}
.cards-teams {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-icon {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.icons {
  width: 40px;
  height: 40px;
}
.icon-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}
.icon-links:hover {
  background-color: #404bbf;
}
.icon-links:focus {
  background-color: #404bbf;
}
.client {
  padding-top: 130px;
  padding-bottom: 120px;
}
.client-icon {
  padding-top: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-client {
  width: 168px;
  height: 88px;
}
.link-client {
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border;
}
.clients-links {
  fill: currentColor;
}
.link-client:hover {
  border-color: #404bbf;
  transition-property: #404bbf;
}
.link-client:focus {
  border-color: #404bbf;
}
.link-client:hover {
  color: #404bbf;
}
.link-client:focus {
  color: #404bbf;
}
.hero-spant {
  padding-left: 120px;
}

.list-footer {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  list-style: none;
}
.list-foot {
  width: 40px;
  height: 40px;
}
.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff1a;
  fill: #f4f4fd;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}
.link-footer:hover {
  background-color: #31d0aa;
}
.link-footer:focus {
  background-color: #31d0aa;
}

.footer-tittle {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.first-div {
  display: flex;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: #2e2f4266;
  transition: opacity var(--transition-duration) var(--transition-function),
    visibility var(--transition-duration) var(--transition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  width: 408px;
  background-color: #fcfcfc;
  padding: 24px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-btn:active {
  background-color: #4d5ae5;
}
.modal-tittle {
  display: block;
  text-align: center;
  padding-top: 48px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-bottom: 14px;
}

.modal-inpute {
  padding-top: 4px;
  width: 100%;
  height: 40px;
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 50px;
  padding-right: 50px;
}

.modal-inpute:focus {
  outline-color: #4d5ae5;
  border-radius: 4px;
}
.modal-label {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  color: #8e8f99;
}
.modal-block {
  position: relative;
}
.icon-form {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  pointer-events: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inpute:focus + .icon-form {
  fill: #4d5ae5;
}
.text-coment {
  display: block;
  width: 100%;
  height: 120px;
  margin: 0;
  resize: none;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px 20px;
  font-size: 12px;
  margin-bottom: 16px;
}
.text-coment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
}
.text-coment:focus {
  outline-color: #4d5ae5;
  border-radius: 4px;
}

.modal-form-agreemnt {
  display: flex;
  align-items: center;

  gap: 5px;
  margin-bottom: 24px;
}
.modal-span {
  font-size: 12px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
.modal-link {
  color: #4d5ae5;
}
.modal-form-checkbox {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'%0A/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked {
  background-color: #404bbf;
  border-color: #404bbf;
  background-size: 12px;
}
.button-modal-send {
  background-color: var(--color3);
  color: var(--color5);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
  margin-left: 120px;
}
.button-modal-send:hover {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-modal-send:focus {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.checkbox-custom {
  fill: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 1;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.vector-checkbox {
  transform: scale(0.6);
  width: 10px;
  height: 8px;
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}
.modal-form-checkbox:checked + .checkbox-icons > .checkbox-custom {
  fill: #404bbf;
}
.modal-form-checkbox:checked + .checkbox-icons > .vector-checkbox {
  opacity: 1;
}
/* Form-footer */
.email-block {
  padding-left: 80px;
}
.title-form {
  margin-bottom: 16px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.input-mail {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  margin-right: 24px;
}
.button-footer {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.email-link {
  fill: #ffffff;
}
